.board__header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  padding: 1.5rem;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}
.board__lists {
  display: flex;
  /* overflow: auto; */
  gap: 1rem;
  padding: 7rem 3rem;
}
.board__filter {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 1px 1px 4px rgb(214, 214, 214);
  border-radius: 0.2rem;
}
.board__setting__icon {
  font-size: 1rem;
  transform: rotate(-90deg);
}
.board__header__bg {
  top: -2rem;
  bottom: 0;
  left: -2rem;
  right: 0;
  z-index: -1;
  content: "";
  position: absolute;
  width: 102vw;
  height: 102vh;
}

.board__header__tooltip {
  position: absolute;
  display: block;
  background-color: #f8f8fa;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
  top: 3rem;
  left: 2rem;
  z-index: 2;
}
.select-heading {
  color: rgb(75, 75, 75);
  font-size: 0.9rem;
}
.select-box {
  display: flex;
  gap: 3rem;
  margin: 1rem 0;
}
.board_header_select {
  width: 100px;
  border: 1px solid rgb(168, 168, 168);
  padding: 0.2rem 0.3rem;
  background-color: white;
  border-radius: 0.3rem;
  color: rgb(54, 53, 53);
}
